p{font-family: Arial;
    border-width:100pt;
    font-weight:bold;
    text-align: center;color:#776678;
      border-style: inset;
  }
  
  h1{padding:189;
    margin-right: 40px;
    padding: -10px;
   
  }
  